In [2]:
import pandas as pd
import numpy as np
import sklearn 
import matplotlib.pyplot as plt
import os
os.chdir(r"D:\Machinelearning\csv")

In [3]:
df=pd.read_csv("play_tennis.csv")

In [4]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [5]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [8]:
pyes=9/14
pno=5/14
print(pyes)
print(pno)

0.6428571428571429
0.35714285714285715

In [9]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [10]:
#probability for outlooks
povern=0
povery=4/9
prn=2/5
pry=3/5
psn=3/5
psy=2/9

In [12]:
#probability for temperature
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
pcn=1/5
pcy=3/9
phn=2/5
phy=2/9
pmn=2/5
pmy=4/9

In [14]:
#probability for humidity
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
phumidhn=4/5
phumidhy=3/9
phumidnorn=1/5
phumidnory=6/9

In [16]:
#probability for wind
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [17]:
pwindsn=3/5
pwindsy=3/9
pwindwn=2/5
pwindwy=6/9

In [20]:
#probability when outlook=sunny,temp=hot,humidity=high,wind=weak
Pyes=pyes*psy*phy*phumidhy*pwindwy
print("Yes",Pyes)
#probability for no
Pno=pno*psn*phn*phumidhn*pwindwn
print("No:",Pno)

Yes 0.007054673721340388
No: 0.02742857142857143